
        .myDiv {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 2s;
}
img{
   transform: translateX(-50px);
   transform: translateX(50px);

   .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 22, 2021, 9:48:09 AM
    Author     : user
*/

